@model _Core.Models.Bill_Types

<div>
    <table>
        <tr>
            <th>Bill Name</th>
            <th>Amount</th>
        </tr>
        <tr>
            <td>@Model.Bill_Name</td>
            <td>@Model.Amount</td>
        </tr>
    </table>
</div>
<div>
    <button type="submit"></button>
</div>