@model _Core.Models.Bill_Types
@{
    Layout = null;
}




    @*<div>
        <label>Select Bill Type</label>
        <select id="country" asp-for="Id" asp-items="@ViewBag.Bills">
            <option value="">----Select Bill----</option>
        </select>



    </div>*@

    <!DOCTYPE html>
    <html>
    <head>
        <title>JavaScript - Get selected value from dropdown list</title>
        <script src="~/jquery/jquery.min.js"></script>
    </head>

    <body>
        <h1>JavaScript - Get selected value from dropdown list</h1>
        <p id="result">United state</p>

        <form asp-action="BillPayment" method="post">
            <select id="country" asp-for="Id" asp-items="@ViewBag.Bills" onclick=" GetSelectedValue()">
                <option value="">----Select Bill----</option>
            </select>
            <input type="submit" value="Create" class="btn btn-primary"/>
        </form>
       
        <button id="confirmPayment">Confirm Payment</button>

        <table id="table2">
         
            <tr>
                <td><input id="txt1" type="text" /></td>
                <td><input id="txt1" type="text" /></td>

            </tr>
        </table>
        <form>
            <table id="myTable">
             
                <tr>
                    <td>Row2 Cell1</td>
                    <td>Row2 Cell1</td>
                </tr>


            </table>

            <table id="apiTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Bill Name</th>
                        <th>Amount</th>

                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </form>

        <button onclick="Billbtn()">Confirm Payment</button>
        <p id="rData">
        </p>
        <p>
            Enter country name @Html.TextBox("Country")
            <select id="country" asp-for="Id" asp-items="@ViewBag.Bills">
                <option value="">----Select Bill----</option>
            </select>
            <input type="submit" id="country" value="Submit" />
        </p>
        <br />
        <br />

        <button id="btnGetAll">Get All</button> <br />

        <input type="text" id="txtStudentId" placeholder="Get by Id" />
        <button id="btnGet">Get a detail</button>

        <br />
        <input type="button" id="btnCreateHtmlTable" value="Create HTML table" />

        <div id="ResultArea"></div>
        <script type="text/jscript">


            $(document).ready(function () {
                $("#btnGetAll").click(function () {
                    fetch("https://localhost:44312/TransactionWeb/index2")
                        .then(res => {
                            return res.json();
                        })
                        .then(data => console.log(data))
                        .then(data => {
                            if (data.data.length > 0) {
                                var temp = "";
                                data.data.forEach((itemData) => {
                                    temp += "<tr>";
                                    temp += "<td" + itemData.bill_Name + "</td>";
                                    temp += "<td>" + itemData.Amount + "</td></tr>"
                                });

                                document.getElementById('txt1').innerHTML = temp;
                            }
                        })
                        .catch(error => console.log(error))
                });


                $("#btnGet").click(function () {
                    var e = document.getElementById("country");
                    var value = e.options[e.selectedIndex].value;
                    fetch("https://localhost:44313/api/Transaction/GetBillDetails/" + value)
                        //fetch("https://localhost:44313/api/Transaction/GetBillDetails/" + $("#txtStudentId").val())
                        .then(res => {
                            return res.json();
                        })
                        .then(data => {

                            var table = document.getElementById("myTable");
                            var row = table.insertRow(0);
                            var cell1 = row.insertCell(0);
                            var cell2 = row.insertCell(1);
                            cell1.innerHTML = data.bill_Name;
                            cell2.innerHTML = data.amount;
                            //cell2.innerHTML = text;
                            document.getElementById("myTable").deleteRow(1);
                            console.log(data);

                            var table2 = document.getElementById("txt1");
                            var row2 = table2.insertRow(0);
                            var cell3 = row2.insertCell(0);
                            var cell4 = row2.insertCell(1);
                            cell3.value = data.bill_Name;
                            cell4.value = data.amount;
                            var textbox = document.getElementById("txt1");
                            textbox.value = data.amount;

                           
                        })
                        .then(data => console.log(data))

                        .catch(error => console.log(error))





                });


                $("#confirmPayment").click(function () {
                    var e = document.getElementById("country");
                    var value = e.options[e.selectedIndex].value;
                    fetch("https://localhost:44313/api/Transaction/BillPayment/" + value)
                        //fetch("https://localhost:44313/api/Transaction/GetBillDetails/" + $("#txtStudentId").val())
                        .then(res => {
                            return res.json();
                        })
                });
            });

            function GetSelectedValue() {
                var e = document.getElementById("country");
                var value = e.options[e.selectedIndex].value;
                fetch("https://localhost:44313/api/Transaction/GetBillDetails/" + value)
                    //fetch("https://localhost:44313/api/Transaction/GetBillDetails/" + $("#txtStudentId").val())
                    .then(res => {
                        return res.json();
                    })
                    .then(data => {

                        var table = document.getElementById("myTable");
                        var row = table.insertRow(0);
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        cell1.innerHTML = data.bill_Name;
                        cell2.innerHTML = data.amount;
                        //cell2.innerHTML = text;

                        var textbox = document.getElementById("txt1");
                        textbox.value = data.amount;
                        textbox.innerHTML = data.amount;
                        document.getElementById("myTable").deleteRow(1);
                        console.log(data);

                      
                    })
                    .then(data => console.log(data))

                    .catch(error => console.log(error))

            }

            function BillBtn() {
                var e = document.getElementById("country");
                var value = e.options[e.selectedIndex].value;
                fetch("https://localhost:44313/api/Transaction/BillPayment/" + value)
                  
                    .then(res => {
                        return res.json();
                    })
                  
                    .then(data => console.log(data))

                    .catch(error => console.log(error))

            }
        </script>

        @*@*<script>
            function GetSelectedValue() {
                var e = document.getElementById("country");
                var value = e.options[e.selectedIndex].value;
                var text = e.options[e.selectedIndex].text;
                document.getElementById("result").innerHTML = value;
                var table = document.getElementById("myTable");
                var row = table.insertRow(0);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                cell1.innerHTML = value;
                cell2.innerHTML = text;
                document.getElementById("myTable").deleteRow(1);

                var tbody = document.getElementById("apiTable").querySelector("tbody");
                tbody.innerHTML = "";
                if (this.readyState == 4 && this.status == 200) {
                    JSON.parse(this.responseText).forEach(function (data, index) {
                        tbody.innerHTML += "<tr><td>" + data.id + "</td>" + "<td>" + data.name + "</td>" + "<td>" + data.amount + "</td></tr>";
                    });
                    var xhttp = new XMLHttpRequest();
                    xhttp.open("GET", "https://localhost:44313/api/Transaction/GetBillDetails/" + document.getElementById("country").value, true);
                    xhttp.send

                    xhttp.onreadystatechange = function () {
                        var tbody = document.getElementById("apiTable").querySelector("tbody");
                        tbody.innerHTML = "";
                        if (this.readyState == 4 && this.status == 200) {
                            JSON.parse(this.responseText).forEach(function (data, index) {
                                tbody.innerHTML += "<tr><td>" + data.id + "</td>" + "<td>" + data.name + "</td>" + "<td>" + data.amount + "</td></tr>";
                            });
                        }
                    };
                }
            }

            function GetSelectedText() {
                var e = document.getElementById("country");
                var result = e.options[e.selectedIndex].text;
                document.getElementById("result").innerHTML = result;
            }



        </script>*@

        <br />
        <br />
        <button type="button" onclick="GetSelectedValue()">Get selected value</button>
        <button type="button" onclick="popup()">click</button>
        <button type="button" onclick="GetSelectedText()">Get selected text</button>


    </body>
</html>
