
@{
    ViewData["Title"] = "ConfirmYourEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Please check your mail for confirmation link to your account</h1>

<a asp-controller="Account" asp-action="Login" class="btn btn-success">Click Here to Login</a>

