@model _Core.ViewModels.EditUser


<div class="col-md-10 mx-auto py-4">
    <div class="card-body">
        <form enctype="multipart/form-data" asp-action="UpdateUserProfile" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                </div>
              
             </div>

            

            <div class="form-group">
                <input type="submit" value="submit" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
            </div>
        </form>
    </div>
</div>
