@model _Core.ViewModels.ProfileVM

@{
    ViewData["Title"] = "User Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Model == null)
{
    <h4>Please Update your Profile</h4>
}

<div class="container">
    <table class="table">
        <tr>
            <th> Username</th>
            <th>Profile Image</th>
            <th>Balance</th>
        </tr>
        <tr>
            <td>@Model.UserName</td>
            <td><img src="~/image/@Model.Image" class="rounded-circle" width="90" height="70" asp-append-version="true" /></td>
            <td>@Model.Account</td>
            <td><a asp-controller="Account" asp-action="UpdateUserProfile" class="btn btn-success">Edit</a></td>

            <td><a asp-controller="TransactionWeb" asp-action="index" class="btn btn-success">Pay bill</a></td>
        </tr>
    
    </table>
</div>