@model _Core.ViewModels.RegisterVM

<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <title>Bank_lock a Banking Category Flat Bootstrap Responsive Website Template | Home :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Bank_lock  web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web Designs" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--// Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="~/Template/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="~/Template/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="~/Template/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- web-fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- //web-fonts -->
</head>
@*<body>*@

<script>
    (function () {
        if (typeof _bsa !== 'undefined' && _bsa) {
            // format, zoneKey, segment:value, options
            _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
        }
    })();
</script>
<script>
    (function () {
        if (typeof _bsa !== 'undefined' && _bsa) {
            // format, zoneKey, segment:value, options
            _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
        }
    })();
</script>
<script>
    (function () {
        if (typeof _bsa !== 'undefined' && _bsa) {
            // format, zoneKey, segment:value, options
            _bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
        }
    })();
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src='https://www.googletagmanager.com/gtag/js?id=UA-149859901-1'></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-149859901-1');
</script>

<script>
    window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
    ga('create', 'UA-149859901-1', 'demo.w3layouts.com');
    ga('require', 'eventTracker');
    ga('require', 'outboundLinkTracker');
    ga('require', 'urlChangeTracker');
    ga('send', 'pageview');
</script>
<script async src='~/Template/js/autotrack.js'></script>

<meta name="robots" content="noindex">
<body>
    <link rel="stylesheet" href="~/Template/assests/css/font-awesome.min.css">
    <!-- New toolbar-->
    <style>
                * {
                    box-sizing: border-box;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
                }


                #w3lDemoBar.w3l-demo-bar {
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 9999;
                    padding: 40px 5px;
                    padding-top: 70px;
                    margin-bottom: 70px;
                    background: #0D1326;
                    border-top-left-radius: 9px;
                    border-bottom-left-radius: 9px;
                }

                    #w3lDemoBar.w3l-demo-bar a {
                        display: block;
                        color: #e6ebff;
                        text-decoration: none;
                        line-height: 24px;
                        opacity: .6;
                        margin-bottom: 20px;
                        text-align: center;
                    }

                    #w3lDemoBar.w3l-demo-bar span.w3l-icon {
                        display: block;
                    }

                    #w3lDemoBar.w3l-demo-bar a:hover {
                        opacity: 1;
                    }

                    #w3lDemoBar.w3l-demo-bar .w3l-icon svg {
                        color: #e6ebff;
                    }

                    #w3lDemoBar.w3l-demo-bar .responsive-icons {
                        margin-top: 30px;
                        border-top: 1px solid #41414d;
                        padding-top: 40px;
                    }

                    #w3lDemoBar.w3l-demo-bar .demo-btns {
                        border-top: 1px solid #41414d;
                        padding-top: 30px;
                    }

                    #w3lDemoBar.w3l-demo-bar .responsive-icons a span.fa {
                        font-size: 26px;
                    }

                    #w3lDemoBar.w3l-demo-bar .no-margin-bottom {
                        margin-bottom: 0;
                    }

                .toggle-right-sidebar span {
                    background: #0D1326;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    color: #e6ebff;
                    border-radius: 50px;
                    font-size: 26px;
                    cursor: pointer;
                    opacity: .5;
                }

                .pull-right {
                    float: right;
                    position: fixed;
                    right: 0px;
                    top: 70px;
                    width: 90px;
                    z-index: 99999;
                    text-align: center;
                }
                /* ============================================================
        RIGHT SIDEBAR SECTION
        ============================================================ */

                #right-sidebar {
                    width: 90px;
                    position: fixed;
                    height: 100%;
                    z-index: 1000;
                    right: 0px;
                    top: 0;
                    margin-top: 60px;
                    -webkit-transition: all .5s ease-in-out;
                    -moz-transition: all .5s ease-in-out;
                    -o-transition: all .5s ease-in-out;
                    transition: all .5s ease-in-out;
                    overflow-y: auto;
                }


                /* ============================================================
        RIGHT SIDEBAR TOGGLE SECTION
        ============================================================ */

                .hide-right-bar-notifications {
                    margin-right: -300px !important;
                    -webkit-transition: all .3s ease-in-out;
                    -moz-transition: all .3s ease-in-out;
                    -o-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
                }



                @@media (max-width: 992px) {
                    #w3lDemoBar.w3l-demo-bar a.desktop-mode {
                        display: none;
                    }
                }

                @@media (max-width: 767px) {
                    #w3lDemoBar.w3l-demo-bar a.tablet-mode {
                        display: none;
                    }
                }

                @@media (max-width: 568px) {
                    #w3lDemoBar.w3l-demo-bar a.mobile-mode {
                        display: none;
                    }

                    #w3lDemoBar.w3l-demo-bar .responsive-icons {
                        margin-top: 0px;
                        border-top: none;
                        padding-top: 0px;
                    }

                    #right-sidebar, .pull-right {
                        width: 90px;
                    }

                    #w3lDemoBar.w3l-demo-bar .no-margin-bottom-mobile {
                        margin-bottom: 0;
                    }
                }
    </style>
    <div class="pull-right toggle-right-sidebar">
        <span class="fa title-open-right-sidebar tooltipstered fa-angle-double-right"></span>
    </div>

    <div id="right-sidebar" class="right-sidebar-notifcations nav-collapse">
        <div class="bs-example bs-example-tabs right-sidebar-tab-notification" data-example-id="togglable-tabs">

        
            <div class="right-sidebar-panel-content animated fadeInRight" tabindex="5003"
                 style="overflow: hidden; outline: none;">
            </div>
        </div>
    </div>
    </div>

    <div class="header">
        <nav class="navbar navbar-default link-effect-8" id="link-effect-8">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1><a href="index.html">Bank<span><i class="fa fa-credit-card-alt" aria-hidden="true"></i></span>lock</a></h1>
            </div>
            <div class="top-nav-text">
                <div class="nav-contact-w3ls"><i class="fa fa-phone" aria-hidden="true"></i><p>+0(12) 444 262 399</p></div>
            </div>
            <!-- navbar-header -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class=" active" href="index.html">Home</a></li>
                    <li><a href="#about" class="scroll">About</a></li>
                    <li><a href="#services" class="scroll">Services</a></li>
                    <li><a href="#team" class="scroll">Team</a></li>
                    <li><a href="#testimonials" class="scroll">Testimonials</a></li>
                    <li><a href="#contact" class="scroll">Contact</a>
                </ul>
            </div>

            <div class="clearfix"> </div>
        </nav>

    </div>
    <!-- Slider -->
    <div class="slider" id="home">
        <div class="callbacks_container">
            <ul class="rslides" id="slider">
                <li>
                    <div class="w3layouts-banner-top w3layouts-banner-top1">
                        <div class="banner-dott">
                            <div class="container">
                                <div class="slider-info">
                                    <div class="col-md-8  slider-info-txt">
                                        <h2>Easy Online accounts to customers</h2>
                                        @*<div class="w3ls-button">
                                            <a href="#" data-toggle="modal" data-target="#myModal">More About Our Bank</a>
                                           
                                        </div>*@

                                        <div class="w3ls-button">
                                            <a href="register" dat-toggle="modal" data-target="#myModal">Register</a>
                                            <a href="login" dat-toggle="modal" data-target="#myModal">Login</a>
                                        </div>

                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="w3layouts-banner-top">
                        <div class="banner-dott">
                            <div class="container">
                                <div class="slider-info">
                                    <div class="col-md-8 slider-info-txt">
                                        <h3>credit card processing services</h3>

                                        @*<div class="w3ls-button">
                                            <a href="#" data-toggle="modal" data-target="#myModal">More About Our Bank</a>

                                        </div>*@
                                        <div class="w3ls-button">
                                            <a href="register" dat-toggle="modal" data-target="#myModal">Register</a>
                                            <a href="login" dat-toggle="modal" data-target="#myModal">Login</a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="w3layouts-banner-top w3layouts-banner-top3">
                        <div class="banner-dott">
                            <div class="container">
                                <div class="slider-info">
                                    <div class="col-md-8 slider-info-txt">
                                        <h3>Services for all your customer needs</h3>

                                        @*<div class="w3ls-button">
                                            <a href="#" data-toggle="modal" data-target="#myModal">More About Our Bank</a>

                                        </div>*@
                                        <div class="w3ls-button">
                                            <a href="register" dat-toggle="modal" data-target="#myModal">Register</a>
                                            <a href="login" dat-toggle="modal" data-target="#myModal">Login</a>
                                        </div>

                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div>
        <div></div>
    </div>
    <!-- //Slider -->
    <!-- bootstrap-modal-pop-up -->
    <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Bank_lock
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <img src="~/Template/images/img4.jpg" alt=" " class="img-responsive" />
                    <p>
                        Ut enim ad minima veniam, quis nostrum
                        exercitationem ullam corporis suscipit laboriosam,
                        nisi ut aliquid ex ea commodi consequatur? Quis autem
                        vel eum iure reprehenderit qui in ea voluptate velit
                        esse quam nihil molestiae consequatur, vel illum qui
                        dolorem eum fugiat quo voluptas nulla pariatur.
                        <i>
                            " Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                            esse quam nihil molestiae consequatur.
                        </i>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- //bootstrap-modal-pop-up -->
    <!-- welcome -->
    <div class="welcome" id="about">
        <div class="container">

            <div class="welcome-grids">
                <div class="col-md-6 welcome-w3right">
                    <img src="~/Template/images/ab1.jpg" class="img-responsive" alt="" />
                </div>
                <div class="col-md-6 welcome-w3left">
                    <h3>Temporibus autem quibusdam omnis dolor amet?</h3>
                    <h4>
                        Voluptas assumenda est, omnis dolor repellendus.
                        Temporibus autem quibusdam et
                    </h4>
                    <p>
                        Voluptas assumenda est, omnis dolor repellendus.
                        Temporibus autem quibusdam et aut officiis debitis aut
                        rerum necessitatibus saepe.Nam libero tempore, cum soluta nobis est eligendi optio cumque
                        nihil impedit quo minus id quod maxime placeat facere possimus
                    </p>
                    <div class="readmore-w3-about">
                        <a class="readmore" href="#" data-toggle="modal" data-target="#myModal">View More</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---728x90--->
    <!-- //welcome -->
    <!--/services-->
    <div class="services" id="services">
        <div class="container">
            <div class="w3-heading-all">
                <h3>Services</h3>
            </div>
            <div class="w3-agile-services-grids1">
                <div class="col-md-6 services-left-grid">
                    <h3>INTERNET <span>BANKING</span></h3>
                    <h5><span><i class="fa fa-check" aria-hidden="true"></i></span>Lorem ipsum dolor </h5>
                    <p>Fusce convallis, ante non sodales dapibus, risus mauris viverra nibh, vel lacinia erat nulla at est. Vestibulum vestibulum risus ac eros luctus, at dapibus libero gravida. </p>
                    <h5><span><i class="fa fa-check" aria-hidden="true"></i></span>sed pulvi ipsum</h5>
                    <p>Fusce convallis, ante non sodales dapibus, risus mauris viverra nibh, vel lacinia erat nulla at est. Vestibulum vestibulum risus ac eros luctus, at dapibus libero gravida. </p>
                </div>
                <div class="col-md-6 services-right-grid">
                    <img src="~/Template/images/t1.jpg" class="img-responsive" alt="" />
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="w3-agile-services-grids2">
                <div class="col-md-6 services-right-grid">
                    <img src="~/Template/images/t21.jpg" class="img-responsive" alt="" />
                </div>
                <div class="col-md-6 services-left-grid">
                    <h3>MOBILE <span>BANKING</span></h3>
                    <h5><span><i class="fa fa-check" aria-hidden="true"></i></span>Lorem ipsum dolor </h5>
                    <p>Fusce convallis, ante non sodales dapibus, risus mauris viverra nibh, vel lacinia erat nulla at est. Vestibulum vestibulum risus ac eros luctus, at dapibus libero gravida. </p>
                    <h5><span><i class="fa fa-check" aria-hidden="true"></i></span>sed pulvi ipsum</h5>
                    <p>Fusce convallis, ante non sodales dapibus, risus mauris viverra nibh, vel lacinia erat nulla at est. Vestibulum vestibulum risus ac eros luctus, at dapibus libero gravida.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="w3-agile-services-grids3">
                <div class="col-md-6 services-left-grid">
                    <h3>FIND <span>BRANCH</span></h3>
                    <h5><span><i class="fa fa-check" aria-hidden="true"></i></span>Lorem ipsum dolor </h5>
                    <p>Fusce convallis, ante non sodales dapibus, risus mauris viverra nibh, vel lacinia erat nulla at est. Vestibulum vestibulum risus ac eros luctus, at dapibus libero gravida. </p>
                    <h5><span><i class="fa fa-check" aria-hidden="true"></i></span>sed pulvi ipsum</h5>
                    <p>Fusce convallis, ante non sodales dapibus, risus mauris viverra nibh, vel lacinia erat nulla at est. Vestibulum vestibulum risus ac eros luctus, at dapibus libero gravida.</p>
                </div>
                <div class="col-md-6 services-right-grid">
                    <img src="~/Template/images/t3.jpg" class="img-responsive" alt="" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---728x90--->
    <!--//services-->
    <!-- agents -->
    <div class="jarallax w3ls-section team1" id="agents">
        <div class="container">
            <div class="w3-heading-all">
                <h3><span>A</span>gents</h3>
            </div>
            <div id="team" class="team">
                <div class="team-info">
                    <div class="col-md-4 team-grids">
                        <img class="img-responsive" src="~/Template/images/tm1.jpg" alt="">
                        <div class="agileits-captn">
                            <div class="social-icons">
                                <ul>
                                    <li><a href="#" class="fa fa-facebook icon-border facebook"> </a></li>
                                    <li><a href="#" class="fa fa-twitter icon-border twitter"> </a></li>
                                    <li><a href="#" class="fa fa-google-plus icon-border googleplus"> </a></li>
                                    <li><a href="#" class="fa fa-rss icon-border rss"> </a></li>
                                </ul>
                            </div>
                        </div>
                        <h4>pulvinar</h4>
                        <p>Aenean pulvinar ac enimet</p>
                    </div>
                    <div class="col-md-4 team-grids">
                        <img class="img-responsive" src="~/Template/images/tm2.jpg" alt="">
                        <div class="agileits-captn">
                            <div class="social-icons">
                                <ul>
                                    <li><a href="#" class="fa fa-facebook icon-border facebook"> </a></li>
                                    <li><a href="#" class="fa fa-twitter icon-border twitter"> </a></li>
                                    <li><a href="#" class="fa fa-google-plus icon-border googleplus"> </a></li>
                                    <li><a href="#" class="fa fa-rss icon-border rss"> </a></li>
                                </ul>
                            </div>
                        </div>
                        <h4>Enimet</h4>
                        <p>Aenean pulvinar ac enimet</p>
                    </div>
                    <div class="col-md-4 team-grids">
                        <img class="img-responsive" src="~/Template/images/tm3.jpg" alt="">
                        <div class="agileits-captn">
                            <div class="social-icons">
                                <ul>
                                    <li><a href="#" class="fa fa-facebook icon-border facebook"> </a></li>
                                    <li><a href="#" class="fa fa-twitter icon-border twitter"> </a></li>
                                    <li><a href="#" class="fa fa-google-plus icon-border googleplus"> </a></li>
                                    <li><a href="#" class="fa fa-rss icon-border rss"> </a></li>
                                </ul>
                            </div>
                        </div>
                        <h4>Tincidun</h4>
                        <p>Aenean pulvinar ac enimet</p>
                    </div>
                    <div class="col-md-4 team-grids">
                        <img class="img-responsive" src="~/Template/images/tm4.jpg" alt="">
                        <div class="agileits-captn">
                            <div class="social-icons">
                                <ul>
                                    <li><a href="#" class="fa fa-facebook icon-border facebook"> </a></li>
                                    <li><a href="#" class="fa fa-twitter icon-border twitter"> </a></li>
                                    <li><a href="#" class="fa fa-google-plus icon-border googleplus"> </a></li>
                                    <li><a href="#" class="fa fa-rss icon-border rss"> </a></li>
                                </ul>
                            </div>
                        </div>
                        <h4>Inaren</h4>
                        <p>Aenean pulvinar ac enimet</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- //agents -->
    <!---728x90--->
    <!-- Counter -->
    <div class="stats">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 stats-grid stats-grid-1 gridw3">
                    <i class="fa fa-smile-o" aria-hidden="true"></i>
                    <div class="numscroller" data-slno='1' data-min='0' data-max='158' data-delay='3' data-increment="1">85</div>
                    <h4>Happy Customers</h4>
                </div>
                <div class="col-md-3 col-sm-3 stats-grid stats-grid-2 gridw3">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                    <div class="numscroller" data-slno='1' data-min='0' data-max='63' data-delay='3' data-increment="1">95</div>
                    <h4>Awards </h4>
                </div>
                <div class="col-md-3 col-sm-3 stats-grid stats-grid-3 gridw3">
                    <i class="fa fa-laptop" aria-hidden="true"></i>
                    <div class="numscroller" data-slno='1' data-min='0' data-max='421' data-delay='3' data-increment="1">80</div>
                    <h4>collabaration</h4>
                </div>
                <div class="col-md-3 col-sm-3 stats-grid stats-grid-4 gridw3">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <div class="numscroller" data-slno='1' data-min='0' data-max='562' data-delay='3' data-increment="1">90</div>
                    <h4>Members</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //Counter -->
    <!-- testimonials -->
    <div class="testimonials" id="testimonials">
        <div class="container">
            <div class="w3-heading-all">
                <h3>Testimonials</h3>
                <div class="w3ls_testimonials_grids">
                    <section class="center slider">
                        <div class="agileits_testimonial_grid">
                            <div class="w3l_testimonial_grid">
                                <p>
                                    In eu auctor felis, id eleifend dolor. Integer bibendum dictum erat,
                                    non laoreet dolor.
                                </p>
                                <h4>Rosy Crisp</h4>
                                <h5>Student</h5>
                                <div class="w3l_testimonial_grid_pos">
                                    <img src="~/Template/images/c1.jpg" alt=" " class="img-responsive" />
                                </div>
                            </div>
                        </div>
                        <div class="agileits_testimonial_grid">
                            <div class="w3l_testimonial_grid">
                                <p>
                                    In eu auctor felis, id eleifend dolor. Integer bibendum dictum erat,
                                    non laoreet dolor.
                                </p>
                                <h4>Laura Paul</h4>
                                <h5>Student</h5>
                                <div class="w3l_testimonial_grid_pos">
                                    <img src="~/Template/images/c2.jpg" alt=" " class="img-responsive" />
                                </div>
                            </div>
                        </div>
                        <div class="agileits_testimonial_grid">
                            <div class="w3l_testimonial_grid">
                                <p>
                                    In eu auctor felis, id eleifend dolor. Integer bibendum dictum erat,
                                    non laoreet dolor.
                                </p>
                                <h4>Michael Doe</h4>
                                <h5>Student</h5>
                                <div class="w3l_testimonial_grid_pos">
                                    <img src="~/Template/images/c3.jpg" alt=" " class="img-responsive" />
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- //testimonials -->
    <!-- contact -->
    <div id="contact" class="contact">
        <div class="container">
            <div class="w3-heading-all">
                <h3>Contact Us</h3>
            </div>
            <div class="contact-info">
                <div class="col-md-4 contact-grids">
                    <div class="cnt-address">
                        <h3>Address</h3>
                        <h4>Headquarters</h4>
                        <p>
                            123 T. Globel Place.
                            <span class="w3ls-text">CG 09-123</span>
                            NewYork, Ba. 4567
                        </p>
                        <h4>Get In Touch</h4>
                        <p>
                            Telephone: +1 234 567 2222
                            <span>Fax: +122 234 567 1111</span>
                            E-mail: <a href="mailto:info@example.com">mail@example.com</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-8 contact-grids">
                    <h4 class="cnt-text">Gnissimos voluptatum deleniti atque corrupti quos dolores et quas</h4>
                    <p>Landitiis atque corrupti quos dolores et quas molestias excepturi sint occaecat atque corrupti quos dolores et quas molestias excepturi sint occaecat officia deserunt mollitia laborum et dolorum </p>
                    <div class="contact-form">
                        <h3>Drop Us a Line</h3>
                        <form action="#" method="post">
                            <textarea placeholder="Message" required=""></textarea>
                            <input type="text" placeholder="Name" required="">
                            <input type="email" placeholder="Email" required="">
                            <input type="submit" value="SEND">
                        </form>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48393.30799446157!2d-74.01837574721542!3d40.70520823566694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1453557757637" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!-- //contact -->
    <!-- footer -->
    <div class="footer_agile_w3ls">
        <div class="container">
            <div class="agileits_w3layouts_footer_grids">
                <div class="col-md-3 footer-w3-agileits">
                    <h3>Our Conditions</h3>
                    <ul>
                        <li>Etiam quis placerat</li>
                        <li>the printing</li>
                        <li>unknown printer</li>
                        <li>Lorem Ipsum</li>
                    </ul>
                </div>
                <div class="col-md-3 footer-agileits">
                    <h3>Specialized</h3>
                    <ul>
                        <li>the printing</li>
                        <li>Etiam quis placerat</li>
                        <li>Lorem Ipsum</li>
                        <li>unknown printer</li>
                    </ul>
                </div>
                <div class="col-md-3 footer-wthree">
                    <h3>Partners</h3>
                    <ul>
                        <li>unknown printer</li>
                        <li>Lorem Ipsum</li>
                        <li>the printing</li>
                        <li>Etiam quis placerat</li>
                    </ul>
                </div>

                <div class="col-md-3 footer-agileits-w3layouts">
                    <h3>Our Links</h3>
                    <ul>
                        <li><a href="#home" class="scroll">Home</a></li>
                        <li><a href="#about" class="scroll">About</a></li>
                        <li><a href="#services" class="scroll">Services</a></li>
                        <li><a href="#contact" class="scroll">Contact Us</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
    </div>
    @*<div class="wthree_copy_right">
            <div class="container">
                <p>© 2018 Bank lock. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
            </div>
        </div>*@
    <!-- //footer -->
    <!-- js-scripts -->
    <!-- js -->
    <script type="text/javascript" src="~/Template/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Template/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script src="~/Template/js/SmoothScroll.min.js"></script>
    <script type="text/javascript" src="~/Template/js/move-top.js"></script>
    <script type="text/javascript" src="~/Template/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- start-smoth-scrolling -->
    <!-- Baneer-js -->
    <script src="js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 1000,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        });
    </script>
    <!-- //Baneer-js -->
    <!-- js for Counter -->
    <script type="text/javascript" src="~/Template/js/numscroller-1.0.js"></script>
    <!-- /js for Counter -->
    <!-- carousal -->
    <script src="~/Template/js/slick.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(document).on('ready', function () {
            $(".center").slick({
                dots: true,
                infinite: true,
                centerMode: true,
                slidesToShow: 2,
                slidesToScroll: 2,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            arrows: true,
                            centerMode: false,
                            slidesToShow: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            arrows: true,
                            centerMode: false,
                            centerPadding: '40px',
                            slidesToShow: 1
                        }
                    }
                ]
            });
        });
    </script>
    <!-- //carousal -->
    <!-- //js-scripts -->


    <div id="v-w3layouts"></div>
    <script>(function (v, d, o, ai) { ai = d.createElement('script'); ai.defer = true; ai.async = true; ai.src = v.location.protocol + o; d.head.appendChild(ai); })(window, document, '../../../../../../../a.vdo.ai/core/v-w3layouts/vdo.ai.js');</script>
</body>

<!-- Mirrored from demo.w3layouts.com/demos_new/template_demo/10-01-2018/bank_lock-demo_Free/734883158/web/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 12 Jun 2021 04:28:02 GMT -->
</html>